/*div{
backgorund-color:indigo;
height: 100px;
width:1500px;
}*/
.upper{
height:25%; width:1600px;
background-color:#4b0082;
}
a:link{
color:black;
text-decoration:none;
}
input[type=text],input[type=email]{
 width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
border-radius: 6px;
}